html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
}

#textOverlayContainer {
	display: none;
	position: absolute;
	width: 100%;
}
#textOverlayContainer #textOverlay {
	font-size: 3em;
	text-align: center;
}

#slidesContainer {
	display: none;
}
#slidesContainer #slides {
	position: absolute;
	top: 0;

	height: 85%;
	width: 100%;
}

#videoContainer {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
}
#videoContainer #video {
	width: 100%;
}

#footer {
	position: absolute;
	top: 85%;

	height: 15%;
	width: 100%;

	background-color: white;
	color: black;
}
#footer p {
	font-size: 3vw;
	font-style: italic;
	padding: 0 10%;
}
#footer #footerDate {
	float: left;
}
#footer #footerTime {
	float: right;
}
