doctype html
html
	head
		title pwc-tv
		link(rel="stylesheet", href="css/pwc-tv.css")

	body
		.page-wrap
			#info.flex-fix
				h1 Header with nice info
				h2 Sub-Header with more info on the topic
				h3 Still in the middle, more of a sub-content header thingy
				h4 I is on the left side, I am small but the same as h3
				h5 I am small, but BOLD!
				h6 I am veddy tiny
				p Regular text

		script(src="js/lib/jquery.min.js")
		script(src="js/lib/jquery.fittext.js")
		script(src="js/pwc-tv.js")
