body {
	margin: 0;
	font-family: Helvetica, sans-serif;
}

iframe {
	position: absolute;
	top: 0;
}

#footer {
	position: absolute;
	top: 80%;

	height: 20%;
	width: 100%;

	background-color: #222;
	color: white;

	p {
		font-size: 2.2rem;
		padding: 0 100px;
	}

	#date {
		float: left;
	}
	#time {
		float: right;
	}
}

