html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Helvetica, sans-serif;
}

#slidesContainer {
	#slides {
		position: absolute;
		top: 0;

		height: 80%;
		width: 100%;
	}
}

#videoContainer {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #222;
	#video {
		width: 100%;
	}
}

#footer {
	position: absolute;
	top: 80%;

	height: 20%;
	width: 100%;

	background-color: #222;
	color: white;

	p {
		font-size: 4vw;
		padding: 0 10%;
	}

	#footerDate {
		float: left;
	}
	#footerTime {
		float: right;
	}
}

