doctype html
html
	head
		title PWCTV
		link(rel="stylesheet", href="css/pwctv.css")

	body
		iframe(src="https://docs.google.com/presentation/d/19qQxY1tHxxi1iUcQaSD5RvHze06p1_rSAbfPok0YKKM/embed?start=true&loop=true&delayms=7000", frameborder="0", width="100%", height="80%", allowfullscreen="true", mozallowfullscreen="true", webkitallowfullscreen="true")

		#footer
			p #[span#date Loading...] #[span#time Loading...]

		script(src="js/pwctv.js")
